h1{
    font-family:Arial;
}
h2{
    font-family:Bold;
}
h3{
    font-family:Franklin Gothic Medium;
}
h4{
    font-family: cursive;
}
h5{
    font-family:Cambria;
}
h6{
    font-family:Verdana;
}